        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            font-size: 10px;
        }
        
         :root {
            --primary_color: #fec107;
            --secondary_color: #d5dbd9;
            --text_color: #757575;
            --text_font_size: 14px;
        }
        
        body {
            background-color: var(--primary_color);
            padding: 0 1rem;
        }
        
        .wrapper {
            max-width: 40rem;
            width: 100%;
            background: #fff;
            margin: 2rem auto;
            padding: 2rem;
            border-radius: .5rem;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .125);
        }
        
        .wrapper .title {
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 2.5rem;
            color: var(--primary_color);
            text-transform: uppercase;
            text-align: center;
        }
        
        .wrapper .form .input_field {
            margin-bottom: .5rem;
            display: flex;
            align-items: center;
        }
        
        .wrapper .form .input_field label {
            width: 20rem;
            color: var(--text_color);
            margin-right: 1rem;
            font-size: var(--text_font_size);
        }
        
        .wrapper .form .input_field .input,
        .wrapper .form .input_field textarea,
        .wrapper .form .input_field .custom_select select {
            width: 100%;
            outline: none;
            border: 1px solid var(--secondary_color);
            font-size: var(--text_font_size);
            padding: .2rem .5rem;
            border-radius: .3rem;
            transition: all .3s ease;
        }
        
        .wrapper .form .input_field textarea {
            resize: none;
            height: 12.5rem;
        }
        
        .wrapper .form .input_field .custom_select {
            position: relative;
            width: 100%;
        }
        
        .wrapper .form .input_field .custom_select select {
            height: 100%;
            appearance: none;
        }
        
        .wrapper .form .input_field .custom_select::before {
            content: '';
            position: absolute;
            top: 25%;
            right: 5%;
            border: .6rem solid;
            border-color: var(--secondary_color) transparent transparent;
        }
        
        .wrapper .form .input_field input:focus,
        .wrapper .form .input_field textarea:focus,
        .wrapper .form .input_field select:focus {
            border: 1px solid var(--primary_color);
        }
        
        .wrapper .form .input_field p {
            font-size: var(--text_font_size);
            color: var(--text_color);
        }
        
        .wrapper .form .input_field .check {
            width: 1.5rem;
            height: 1.5rem;
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
        
        .wrapper .form .input_field .check input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        
        .wrapper .form .input_field .check .checkmark {
            width: 1.5rem;
            height: 1.5rem;
            border: 1px solid var(--primary_color);
            display: inline-block;
            position: relative;
        }
        
        .wrapper .form .input_field .check .checkmark::before {
            content: "";
            position: absolute;
            top: 1px;
            left: 2px;
            width: .5rem;
            height: .2rem;
            border: .2rem solid;
            border-color: transparent transparent #fff #fff;
            transform: rotate(-45deg);
            display: none;
        }
        
        .wrapper .form .input_field .check input[type="checkbox"]:checked~.checkmark {
            background: var(--primary_color);
        }
        
        .wrapper .form .input_field .check input[type="checkbox"]:checked~.checkmark::before {
            display: inline-block;
        }
        
        .wrapper .form .input_field .btn {
            width: 100%;
            padding: .8rem 1rem;
            font-size: 1.5rem;
            border: 0;
            background: var(--primary_color);
            cursor: pointer;
            color: #fff;
            border-radius: 3px;
            outline: 0;
        }
        
        .wrapper .form .input_field:last-child {
            margin-bottom: 0;
        }
        
        .wrapper .form .input_field .btn:hover {
            opacity: .8;
        }
        
        @media only screen and (max-width:420px) {
            .wrapper .form .input_field {
                flex-direction: column;
            }
            .wrapper .form .input_field label {
                width: 100%;
                margin-right: 0;
            }
        }